<!DOCTYPE html>
<html>
  <head>
    <title>Shoe Finder</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='~/Content/css/styles.css'>
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1><a href="/">Shoe Finder</a></h1>

      <form class="container" action="/store_search" method="post">
         <div class="col-md-6 col-md-offset-3">
        	<div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Search by store" name="brand-name">
          </div>
        </div>
      </form>

      <form class="container" action="/store_search" method="post">
         <div class="col-md-6 col-md-offset-3">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Search by store" name="store-name">
          </div>
        </div>
      </form>
    </div>

    <div class="container text-center">

      @{var route = @Model["store"].GetId();}


      <h2>Store: @Model["store"].GetName()</h2>

      <form action="/store/@route/delete" method="post">
        <a href="/store/@route/edit">Edit</a>
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn btn-danger btn-xs"  type="submit">Remove</button>
      </form>

      <hr />
      @if (@Model["storeBrands"].Count != 0)
      {
        <h4>This store carries these brands:</h4>

          @foreach (var brand in @Model["storeBrands"])
          {
            <p>@brand.GetName()</p>
          }

      }
      <h4>Add a brand: </h4>
      <form action="/store/@route/add_brand" method='post'>
        <input id='store-id' name='store-id' type='hidden' value='@Model["store"].GetId()'>
        <label for='brand-id'>Select a brand</label>
        <select id='brand-id' name='brand-id' type='text'>
          @foreach (var brand in @Model["allBrands"])
          {
            <option value='@brand.GetId()'>@brand.GetName()</option>
          }
        </select>
        <button type='submit'>Add</button>
      </form>



    <a href="/stores">Back</a>
  </div>
